@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: "Open Sans", sans-serif;
  outline: none;
}

a {
  color: unset;
  text-decoration: none;
}

.header-bar {
   background-color: #f03c42; 
  height: 100px;
  color: #fff;
  display: flex;
  justify-content: center;
  }

.nav-bar {
  width: 960px;
  display: flex;
  justify-content: space-between;
}

.nav-bar span {
  display: flex;
  align-items:center;
  }

  .nav-bar span img{
   padding-right: 10px;
    }


.section-main-1 {
  
    background-color: #222374;
    min-height: 400px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.space{
  min-width: 960px;
      font-size: 32px;
      line-height: 44px;
      padding: 20px 0 40px 0;
      color: #fff;
      text-align: left;
}


.container-main {
    color: black;
}

.news-fitness {
    max-width: 960px;
    background-color: #ccc;
    margin-bottom: 20px;
    height: 120px;
    border-radius: 8px;
    padding: 20px;
    }

    .news-fitness h3 {
        padding: 0 0 30px 0 ;
        font-size: 20px;
    }

    .news-fitness p {
      font-weight: 400; 
      font-size: 14px;
  }


    .section-main-2 {
  
      background-color: #fff;
      min-height: 800px;
      color: #fff;
     display: flex;
     flex-direction: column;
     align-items: center;
    }

    .modalidades {
      min-width: 960px;
      font-size: 32px;
      line-height: 44px;
      padding: 20px 0 40px 0;
      color: #f03c42;
      text-align: left;
       }
    
  
    .container-mod {
    height: 100px;
    color: #fff;
    min-width: 960px;
    background-color: #222374;
    margin-bottom: 20px;
    height: 120px;
    border-radius: 8px;
    padding: 20px;
          
    }

    .container-mod h3 {
      padding: 0 0 40px 0 ;
      font-size: 20px;
  }

  .container-mod p {
    font-size: 14px;
    font-weight: 400;
  }

  .footer-container {
   
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #fff;
  }


   .links {
    margin-top: 30px;
  
  }

  .links span {
    display: flex;
    align-items: center;
  }
    
  .links span img {
    padding: 5px 10px;
  }

   .polices {

   padding: 30px;
   text-align: center;
   font-size: 14px;
   padding-bottom: 60px;
   }

   .adress {
     font-style: italic;
   }


